<div>
    <p-table class="table" [value]="allExercises" [paginator]="true" [rows]="10" [showCurrentPageReport]="true" responsiveLayout="scroll"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [rowsPerPageOptions]="[10, 15]">
        <ng-template pTemplate="caption">
            Lista wszystkich ćwiczeń 
        </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th>Nazwa</th>
                    <th>Poziom trudności</th>
                    <th>Partia</th>
                    <th></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-exercise>
                <tr>
                    <td class="rows" (click)="addToPlan(exercise.id)">
                        {{ exercise.exerciseName }}
                    </td>
                    <td class="rows" (click)="addToPlan(exercise.id)">
                        {{ exercise.difficulty }}
                    </td>
                    <td class="rows" (click)="addToPlan(exercise.id)">
                        {{ exercise.muscleGroup }}
                    </td>
                    <td>
                        <button (click)="navigateToDetailsPage(exercise.id)" pButton icon="pi pi-info-circle" styleClass="p-button-rounded p-button-info"></button>
                    </td>
                </tr>
            </ng-template>
            
            <ng-template pTemplate="paginatorright" style="margin: auto;">
                <p-button type="button" icon="pi pi-cloud" styleClass="p-button-text"></p-button>
            </ng-template>
        </p-table>
</div>

<p-dialog header="Podaj powtórzenia i serie" [(visible)]="displayDialog" [modal]="true" [draggable]="false" [resizable]="false" [style]="{width: '30vw'}">
    <div class="dialog">
        <span class="p-float-label">    
            <p-inputNumber inputId="series" [(ngModel)]="series"></p-inputNumber>
            <label for="series">Serie</label>
        </span>
        <span class="p-float-label">    
            <p-inputNumber inputId="reps" [(ngModel)]="reps"></p-inputNumber>
            <label for="reps">Powtórzenia</label>
        </span>
    </div>
    <ng-template pTemplate="footer">
        <p-button icon="pi pi-check" [disabled]="!reps || !series" (click)="addRepsAndSeriesToExercise()" label="Dodaj" styleClass="p-button-raised p-button-success"></p-button>
        <p-button icon="pi pi-ban" (click)="displayDialog=false" label="Anuluj" styleClass="p-button-raised p-button-warning"></p-button>
    </ng-template> 
</p-dialog>
