
.content {
    width: 100%;
    height: 100vh;
    margin: auto;
    display: inline;
}

.filter {
    margin: auto;
    margin-top: 20px;
    width: 70%;
    max-width: 1800px;
    height: 100px;
    align-items: center;
    background-color: #c38d9e;
    border-bottom: 1px solid #a26b7c;
    border-radius: 25px;
}

.all-exercises {
    margin: auto;
    margin-top: 20px;
    width: 40%;
    max-width: 1800px;
    height: 150vh;
    align-items: center;
    background-color: #c38d9e;
    border-bottom: 1px solid #a26b7c;
    border-radius: 5%;
}

.user-exercise {
    margin: auto;
    margin-top: 20px;
    width: 50%;
    max-width: 1800px;
    height: 150vh;
    align-items: center;
    background-color: #c38d9e;
    border-bottom: 1px solid #a26b7c;
    border-radius: 5%;
}

.tables {
    display: flex;
}