.navbar {
    background-color:  #53a9b0;
    overflow: hidden;
    padding: 20px;
    display: flex;
    align-items: center;
    max-width: 1800px;
    margin: 0 auto;
    border-bottom: 1px solid #74cba7;
    border-radius: 10px;
}

.navbar h1 {
    color: #fff;
}

.navbar .links {
    margin-left: auto;
}

.navbar .title {
    font-size: 18px;
    margin-left: 16px;
    text-decoration: none;
    padding: 6px;
}

.navbar .button {
  margin-left: 8px;
  margin-right: 8px;
}

.navbar a:hover {
    background-color: #c05b40;
    color: #fff;
}
