.title {
    margin-bottom: 20px;
}

.title h2 {
    color: #fff
}

.content { 
    width: 60%;
    height: 600px;
    max-height: 1000px;
    background-color: #e27d60;
    overflow: hidden;
    padding: 20px;
    margin: auto;
    margin-top: 20px;
    border-radius: 8px;
    border-bottom: 1px solid #b27c8d;
}

.table {
    cursor: pointer;
}