.content {
    display: flex;
    margin: auto;
    width: 100%;
    height: 130vh;
    margin-top: 2%;
    justify-content: space-around;
}

.pick-list {
    margin-top: 40px;
    width: 40vw;
    background-color: #c38d9e;
    margin-left: 20px;
    height: 100%;
}

.picked-list {
    margin-top: 40px;
    width: 40vw;
    background-color: #c38d9e;
    margin-right: 20px;
    height: 100%;
}

.rows {
    cursor: pointer;
}

.add-button {
    display: flex;
    height: 30vh;
    width: 40vw;
    margin: auto;
    margin-top: 15%;
    gap: 10vw;
    justify-content: center center;
}