<div class="content">
    <div class="pick-list">
        <p-table class="table" [value]="allExercises" [paginator]="true" [rows]="10" [showCurrentPageReport]="true" responsiveLayout="scroll"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [rowsPerPageOptions]="[10, 15]">
        <ng-template pTemplate="caption">
            Lista wszystkich ćwiczeń 
        </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th>Nazwa</th>
                    <th>Poziom trudności</th>
                    <th>Partia</th>
                    <th></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-exercise>
                <tr>
                    <td class="rows" (click)="addToPlan(exercise.id)">
                        {{ exercise.exerciseName }}
                    </td>
                    <td class="rows" (click)="addToPlan(exercise.id)">
                        {{ exercise.difficulty }}
                    </td>
                    <td class="rows" (click)="addToPlan(exercise.id)">
                        {{ exercise.muscleGroup }}
                    </td>
                    <td>
                        <button (click)="navigateToDetailsPage(exercise.id)" pButton icon="pi pi-info-circle" styleClass="p-button-rounded p-button-info"></button>
                    </td>
                </tr>
            </ng-template>
            
            <ng-template pTemplate="paginatorright" style="margin: auto;">
                <p-button type="button" icon="pi pi-cloud" styleClass="p-button-text"></p-button>
            </ng-template>
        </p-table>
    </div>

    <div class="picked-list">
        <p-table class="table" [value]="chosenExercises" [paginator]="true" [rows]="10" [showCurrentPageReport]="true" responsiveLayout="scroll"
        
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [rowsPerPageOptions]="[10, 15]">
            <ng-template pTemplate="caption">
                Ćwiczenia w twoim  nowym planie
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th>Nazwa</th>
                    <th>Poziom trudności</th>
                    <th>Partia</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-exercise>
                <tr class="rows" (click)="removeFromPlan(exercise.id)">
                    <td>
                        {{ exercise.exerciseName }}
                    </td>
                    <td>
                        {{ exercise.difficulty }}
                    </td>
                    <td>
                        {{ exercise.muscleGroup }}
                    </td>
                </tr>
            </ng-template>
            
            <ng-template pTemplate="paginatorright" style="margin: auto;">
                <p-button type="button" icon="pi pi-cloud" styleClass="p-button-text"></p-button>
            </ng-template>
        </p-table>
    </div>
</div>

<div class="add-button">
    <div class="add-button-label">
        <span class="p-float-label">
            <input id="name" type="text" pInputText>
            <label for="name" >Nazwa planu</label>
        </span>
    </div>
    <div class="add-button-button">
        <button class="p-button-success p-button-rounded" pRipple pButton label="Stwórz plan" icon="pi pi-check"></button>
    </div> 
</div>
