<div class="content"
    fxLayout="row wrap"
    fxLayoutGap="20px"
    fxLayoutAlign="center center"
>
    <div>
        <span class="p-float-label">
            <input id="name" type="text" [formControl]="name" pInputText>
            <label for="name" >Nazwa ćwiczenia</label>
        </span>
    </div>
    <span>
        <p-dropdown  [options]="muscleGroupOptions"  [(ngModel)]="muscleGroup" placeholder="Partia" [showClear]="true"></p-dropdown>
    </span>
    <span>
        <p-dropdown [options]="difficultyOptions" [(ngModel)]="difficulty" placeholder="Trudność" [showClear]="true"></p-dropdown>
    </span>

    <button type="button" class="p-button-help p-button-rounded" pButton label="Filtruj" icon="pi pi-search" (click)="filter()"></button>
</div>