.content {
    display: inline-block;
    margin: auto;
    margin-top: 20px;
    width: 100%;
    max-width: 1800px;
    height: fit-content;
}

.pick-list {
    margin: auto;
    margin-top: 20px;
    width: 90%;
    max-width: 1800px;
    height: 1000px;
    align-items: center;
    background-color: #c38d9e;
    border-bottom: 1px solid #a26b7c;
    border-radius: 5%;
}

.filters {
    margin: auto;
    margin-top: 20px;
    width: 70%;
    max-width: 1800px;
    height: 100px;
    align-items: center;
    background-color: #c38d9e;
    border-bottom: 1px solid #a26b7c;
    border-radius: 25px;
}