
.content {
    display: flex;
    width: 100%;
    max-width: 1800px;
    justify-content: center;
}

.training-plan-list { 
    width: 70%;
    height: 600px;
    max-height: 1000px;
    background-color: #c38d9e;
    overflow: hidden;
    padding: 20px;
    display: flex;
    margin-top: 20px;
    border-radius: 8px;
    border-bottom: 1px solid #b27c8d;
    justify-content: space-around;
}
